.search input {
    height:35px;
    width:70vw;
    border:none;
    font-size: 20px;
    padding:10px;
    outline: none;
    background-color: transparent;
  }
  .searchbutton:hover{
    cursor:pointer;
  }
  .search{
  border-radius: 10px;
    border:2px solid black;
    padding-right: 8px;
}
table th,td{
 border: 1.5px solid black;
 padding:5px;
text-align: center;
font-size: 20px;
}
table{
  width:80vw;
  margin-top:20px;
  border-collapse: collapse;
}
table th{
  background-color: #dedede;
}
table td i{
cursor: pointer;
}