table th,td{
    border: 1.5px solid black;
    padding:5px;
   text-align: center;
   font-size: 20px;
   }
   table{
     width:80vw;
     margin-top:20px;
     border-collapse: collapse;
   }
   table th{
     background-color: #dedede;
   }
   table td i{
   cursor: pointer;
   }
button{
    padding: 6px 6px;
    margin-left: 63rem;
    margin-right:-6px;
    margin-top:8px;
    font-size:18px;
    font-weight: bold;
    border-radius:5px;
    cursor:pointer;
}